{% extends 'base.html' %}

{% block title %}new password{% endblock %}

{% block content %}

{% if validlink %}

    <h1>Saisissez un nouveau mot de passe</h1>
    <p>Saisissez deux fois votre nouveau mot de passe afin de vérifier qu’il est correctement saisi.</p>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Changer mon mot de passe">
    </form>

{% else %}

    <p>Le lien est invalide, peut être qu'il a déjà été utilisé.</p>
    <a href="{% url 'password_reset' %}">Réinitialiser le mot de passe</a>

{% endif %}
{% endblock %}